h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgreen;

}
body{
    max-width: 800px;
}

p {
    background-color: blanchedalmond;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    background-color: cornflowerblue;
}

p {
    font-family: fantasy;
}

img {
    width: 800px;
}

