h1 {
    font-family: fantasy;
    background-color: #C32F27;

}
body{
    max-width: 1000px;
    background-color: #F0A734;
}

p {
    background-color: #A3745E;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #753742;
    font-size: large;
}



img {
    width: 600px;
}


