h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: #C32F27;

}
body{
    max-width: 800px;
    background-color: #F0A734;
}

p {
    background-color: #A3745E;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    background-color: #753742;
}

p {
    font-family: fantasy;
}

img {
    width: 600px;
}


